# flyctl launch added from .gitignore
**/build
**/.cache

# flyctl launch added from build/_deps/httplib-src/.gitignore
build/_deps/httplib-src/**/tags

build/_deps/httplib-src/**/example/server
build/_deps/httplib-src/**/example/client
build/_deps/httplib-src/**/example/hello
build/_deps/httplib-src/**/example/simplecli
build/_deps/httplib-src/**/example/simplesvr
build/_deps/httplib-src/**/example/benchmark
build/_deps/httplib-src/**/example/redirect
build/_deps/httplib-src/**/example/sse*
build/_deps/httplib-src/**/example/upload
build/_deps/httplib-src/**/example/*.pem
build/_deps/httplib-src/**/test/httplib.cc
build/_deps/httplib-src/**/test/httplib.h
build/_deps/httplib-src/**/test/test
build/_deps/httplib-src/**/test/server_fuzzer
build/_deps/httplib-src/**/test/test_proxy
build/_deps/httplib-src/**/test/test_split
build/_deps/httplib-src/**/test/test.xcodeproj/xcuser*
build/_deps/httplib-src/**/test/test.xcodeproj/*/xcuser*
build/_deps/httplib-src/**/test/*.o
build/_deps/httplib-src/**/test/*.pem
build/_deps/httplib-src/**/test/*.srl

build/_deps/httplib-src/**/*.swp

build/_deps/httplib-src/**/Debug
build/_deps/httplib-src/**/Release
build/_deps/httplib-src/**/*.vcxproj.user
build/_deps/httplib-src/**/*.sdf
build/_deps/httplib-src/**/*.suo
build/_deps/httplib-src/**/*.opensdf
build/_deps/httplib-src/**/*.db
build/_deps/httplib-src/**/ipch
build/_deps/httplib-src/**/*.dSYM
build/_deps/httplib-src/**/.*
!build/_deps/httplib-src/.travis.yml
fly.toml
